@font-face {
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
}

.menu {
    background-color: #001529;
    color: #ffffff;
    font-family: 'CamingoMonoBold', monospace;
    height: 100%;
    margin: 0 12px 0 -12px;
    padding: 0 12px;
    width: 100%;
}

.logo-container {
    background-color: #001529;
    margin-left: 30px;
}

.logo-container img {
    background-color: #001529;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control input {
    width: 70%;
}

.list-group-item svg {
    margin-right: 10px;
}

.list-group-item {
    background-color: #001529;
    color: #ffffff;
    border: none;
}

.list-group-item a {
    color: #ffffff;
}

.list-group-item a:hover {
    color: #17a2b8;
}

.dropdown-item {
    color: #001529;
}

.dropdown-item:hover {
    background-color: #001529;
    color: #ffffff;
}

.other-posts {
    margin-top: 20px;
}

.posts-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.posts-box p {
    margin: 0;
}

.post-input {
    width: 100%;
    margin-bottom: 10px;
}

.view-more-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
}

.post-section {
    margin-top: 20px;
}

.post-input {
    width: 70%;
    margin-bottom: 10px;
}

.submit-btn {
    margin-left: 10px;
}