@font-face {
    font-family: "CamingoMonoBold";
    src: url("../../components/fonts/CamingoMono-Regular.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CamingoMonoBold";
}

.journey-section {
    background-color: #1E4767;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    margin-right: 4em;
    margin-left: 4em;
}

.home-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home-title {
    margin-top: 1em;
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    font-family: "CamingoMonoBold", monospace;
}

.homeArticle-title {
    font-family: "CamingoMonoBold", monospace;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 1rem;
    margin-right: 1em;
}

.home-subtitle {
    padding: 0 10px;
    margin-bottom: 18px;
    font-weight: bold;
    text-align: left;
}

.homeArticle-title {
    padding: 1rem;
}

.menu-title {
    margin-top: 2em;
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}

body {
    overflow-x: hidden;
}