@font-face {
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
}

.page-body {
    margin-top: 50px;
    padding: 10px;
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
}

.page-body h3 {
    margin-top: 20px;
}

.other-posts {
    margin-top: 3em;
}

.clickable {
    cursor: pointer
}

.text-justify {
    text-align: justify;
}

.img-post {
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.border-comment {
    border-radius: 10px;
    border: 1px solid #a3a3a3;
    background-color: #e3e1e1;
    padding: .5em 1em;
    margin: 1em .5em;
}

.menu .list-group-item {
    font-size: 18px;
}

.post-image {
    max-width: 250px;
    border-radius: 10px;
}

.title-container {
    margin-top: 30px;
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
}

.sub-title-container {
    margin-top: 30px;
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-size: medium;
}

.post-title-container {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'CamingoMonoBold';
    src: url('../../components/fonts/CamingoMono-Regular.ttf') format('truetype');
    font-style: normal;
}

.custom-border {
    border: 2px solid #ced4da;
    border-radius: 10px;
}